<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Title -->
	{% if title %}
    <title>{{ title }} | Wunderlust</title>
    {% else %}
    <title>Welcome</title>
    {% endif %}
	
	<meta name="description" content="Wunderlust Travel">
    <meta name="author" content="Matthew Lynch 40322639">
	
	<!-- Links -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    rel="stylesheet"/>
	<link href="{{ url_for('static', filename='css/stylesheet.css')}}"
    rel="stylesheet"/>
	<link href="{{ url_for('static', filename='favicon.ico') }}"
	rel="shortcut icon"/>
	
 </head>

<body>
	
<!-- Nav -->
       <nav class="navbar navbar-default" role="navigation">
   	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="navbar-brand navbar-brand-centered">Wunderlust</div>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="navbar-brand-centered">
	      <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li><a href="/about">About Me</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/signout">Sign Out</a></li>
		        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-12 text-center">
          {% if session_user %}
              <h2 class="intro-text">Welcome<b> {{ session_user }}</b>!</h2>
              <p>Start Your WounderList.</p>
          {% endif %}
          <div class="flash">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{ message | safe }}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
          </br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <h2 class="title">Fill Out Here</h2>

          <form action="{{ url_for('add') }}" method="POST" name="wishlist" id="wishform">
            Title: <input type="text" name="title" id="title" class="form-control" placeholder="Title" />
            Quantity: <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity needed" />
            Price: <input type="text" name="price" id="price" class="form-control" placeholder="Average price" />
            Details: <input type="text" name="details" id="details"
            class="form-control" placeholder="Personal information: How exactly would your wish look like?" />
            <button type="submit" name="submit" id="Submit" class="btn btn-lg btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <h2 class="title">My WounderList</h2>
          <ul class="mywishlist">

            {% for wish in wishlists %}
              <li>
                <h3>{{ wish.title }}</h3>
                <p>Quantity needed: {{ wish.quantity }}</p>
                <p>Average price: {{ wish.price }}</p>
                <p>More personal information: {{ wish.details }}</p>
              </li>

              <strong><a href="/remove?wishid={{ wish.title }}" name="remove">Remove</a></strong>
            {% else %}
              <li>No wish has been added yet. Add your wish <a href="#wishform">now!</a></li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

  </div>
  
 <!-- Scripts -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
 
  <!-- Footer -->
  <div id="footer">
    <p>Matthew Lynch | SET09103 | Advanced Web Technologies</p>
  </div>
 </div>
 
</body>
</html>