/*** Stylesheet | Wunderlust ***/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Overlock');

  
  
/** Body Style **/  
  body {
    background: url(../static/img/background.jpg) no-repeat center center fixed;
  }
  .brand {
	color: #efefef;
  }
  .form-text {
    font-family: 'Overlock', cursive;
    font-size: 25px;
  }
  .flash {
    padding: 10px;
    width: 400px;
  }
  
 
 
/** Nav Style **/
.navbar-brand {
	color: #efefef;
	font-size: 36px;
}

.navbar-default .navbar-brand {
    color: #efefef;
}

.navbar-default .navbar-nav>li>a {
    color: #efefef;
}

.navbar-nav, a {
	color: #efefef;
}
.navbar-nav, a:hover {
	color: #efefef;
}

.navbar {
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
	padding: 24px;
	background-color: rgba(86, 131, 164, 0.5);
    margin-bottom: 0px;
    border: 0px solid transparent;
}

.navbar-toggle .icon-bar {
	background-color: #262626;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

/** Header Style **/
#hero-home{
  background-size:cover;
  position:relative;
  height:60vh;
}

.header{
  position:absolute;
  top:30%;
  text-align:center;
  width:100%;
  color:#262626;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
}

/** Page Style **/

#hero-page{
  background-size:cover;
  position:relative;
  height:40vh;
}
.text-shadow{
  text-align:center;
  text-shadow: 0 -3px 0 #eeeeee,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

.header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#262626;
  font-size:36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
}

h1{
  font-size:100px;
  font-family: 'Amatic SC', cursive;
}

h2{
  font-size:50px;
  font-family: 'Amatic SC', cursive;
  
}

p{
  font-size:22px;
  font-family: 'Overlock', cursive;
}

content{
  padding:100px 50px;
  text-align:center;
  width:80%;
  margin:0px auto;

}

#content h2{
  margin:0px 0px 30px 0px;
}

/** SignIn / SignOut Style **/

.form-control {
    display: block;
    width: 96%;
    height: 34px;
    padding: 32px 22px;
	margin: 20px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #262626;
    background-color: #F2F1EF;
    border-radius: 50px;
}

.btn-block {
    display: block;
    width: 50%;
	margin-left: 25%;
	background-color: #5D8CAE;
	border-radius: 50px;
	border: 0px solid transparent;
}

 button {
    display: block;
    width: 16%;
	padding: 10px;
	margin-left: 42%;
	background-color: #5D8CAE;
	border-radius: 50px;
	border: 0px solid transparent;
	color: #fff;
}

/** Footer Style **/
#footer{
  position: absolute; 
  left: 0 ; right: 0; bottom: 0;
  padding:30px 0px;
  text-align:center;
  background-color: rgba(86, 131, 164, 0.5);
}